<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate Your Account</title>
    <style>
        .activation-container {
            text-align: center;
            margin-top: 50px;
        }
        .activation-button {
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="activation-container">
        <h1>Activate Your Account</h1>
        <p>Click the button below to activate your account.</p>
        <form id="activation-form" method="post">
            <button type="button" class="activation-button" onclick="activateAccount()">Activate</button>
        </form>
        <p id="message"></p>
    </div>
    <script>
        function activateAccount() {
            fetch('http://127.0.0.1:8000/api/auth/users/activation/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    uid: '{{ uid }}',
                    token: '{{ token }}'
                })
            })
            .then(response => {
                if (response.status === 204) {
                    // 204 No Content: Account activated successfully
                    return { success: true };
                }
                // Si no es 204, intentamos analizar como JSON
                return response.json().then(data => ({
                    success: response.ok,
                    data
                }));
            })
            .then(result => {
                const messageElement = document.getElementById('message');
                if (result.success) {
                    messageElement.innerHTML = 'Your account has been activated successfully!<br>We have sent you a confirmation email.<br>You can now close this window.';
                } else {
                    messageElement.textContent = 'There was an error activating your account. Please try again.';
                }
            })
            
            
            .catch(error => {
                console.error('Error:', error);
                const messageElement = document.getElementById('message');
                messageElement.textContent = 'There was an error activating your account. Please try again.';
            });
        }
        
    </script>
</body>
</html>
