<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Your Password</h1>
    <form id="resetPasswordForm">
        <input type="hidden" id="uid" value="{{ uid }}">
        <input type="hidden" id="token" value="{{ token }}">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" required>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" required>
        <button type="submit">Reset Password</button>
    </form>
    <p id="message"></p>
    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const uid = document.getElementById('uid').value;
            const token = document.getElementById('token').value;
            const new_password = document.getElementById('new_password').value;
            const confirm_password = document.getElementById('confirm_password').value;
            
            if (new_password !== confirm_password) {
                document.getElementById('message').textContent = "Passwords do not match.";
                return;
            }

            fetch('http://127.0.0.1:8000/api/auth/users/reset_password_confirm/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ uid, token, new_password }),
            })
            .then(response => {
                if (response.status === 204) {
                    document.getElementById('message').innerHTML = 'Your password has been reset successfully!<br>You can now close this window.';
                } else {
                    return response.json().then(data => {
                        document.getElementById('message').textContent = 'There was an error resetting your password. Please try again.';
                    });
                }
            })
            .catch(error => {
                document.getElementById('message').textContent = 'There was an error resetting your password. Please try again.';
            });
        });
    </script>
</body>
</html>
